<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header-title">DM Testv2</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <ion-grid>
    <ion-row>
      <ion-col #square class="welcome">
        <ion-text>
          <p>Welcome Back</p>
        </ion-text>

        <ion-thumbnail>
          <ion-img src="../../assets/dm.png"></ion-img>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="welcome2">
        <ion-text routerLink="latest">
          <button class="title-btn">Latest Movies</button>
        </ion-text>
        <ion-text routerLink="top-rated">
          <button class="title-btn">Top Rated Movies</button>
        </ion-text>
        <ion-text routerLink="now-playing">
          <button class="title-btn">Now Playing</button>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
