<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Top Rated</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"
        ><ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col>
        <h2>{{ loadedMovie.title }}</h2>
        <h6><ion-icon name="calendar"></ion-icon> {{ loadedMovie.release_date }}</h6>
        <h6><ion-icon name="heart"></ion-icon> {{ loadedMovie.vote_average }}</h6>
        <p class="overview">{{ loadedMovie.overview }}</p>
      </ion-col>
      <ion-col>
        <ion-img class="ion-padding" [src]="permanentImgUrl + loadedMovie.poster_path"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
