<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" slot="start" class="title"
      >{{
        "reviews-create-questionnaire.edit-question"
          | translate
      }}</ion-title
    >

    <ion-icon
      class="close-btn"
      slot="end"
      name="close-circle"
      (click)="closeModal()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <div slot="start" style="padding-top: 12px">
            <img
              [ngClass]="[ currentLanguageText ===  'el' ? 'borderToFlag' : '' ,
              !questionData.text_translations.el  ? 'removeOpacity' : '' ]"
              style="cursor: pointer; padding: 3px"
              src="https://data.deliverymanager.gr/flag-el.png"
              width="30px"
              height="30px"
            (click) = "setCurrentLanguageSelection('el')"
            />
            <img
            [ngClass]="[ currentLanguageText ===  'en' ? 'borderToFlag' : '',
            !questionData.text_translations.en ? 'removeOpacity' : '' ]"
              style="cursor: pointer; padding: 3px"
              src="https://data.deliverymanager.gr/flag-en.png"
              width="30px"
              height="30px"
              (click) = "setCurrentLanguageSelection('en')"
            />
          </div>
          <ion-label position="stacked">{{
            "reviews-create-questionnaire.question-text"
              | translate
          }} </ion-label>
          <ion-input
            [(ngModel)]="questionData.text_translations[currentLanguageText]"
            type="text"
            name="text"
            #text="ngModel"
            required
          ></ion-input>
        </ion-item>
        <p
            style="font-size: smaller; color: red; margin-left: 15px"
            *ngIf="
              (text.errors?.required && text.touched) ||
              !this.validationDoor.questionText
            "
          >
            {{
              "reviews-create-questionnaire.please-enter-the-question"
                | translate
            }}
          </p>
        <ion-item>
          <ion-label position="floating">{{
            "reviews-create-questionnaire.question-type"
              | translate
          }}</ion-label>
          <ion-select (ionChange) = "createArray()" [(ngModel)]="questionData.type">
            <ion-select-option value="text">{{
              "reviews-create-questionnaire.text"
                | translate
            }}</ion-select-option>
            <ion-select-option value="radio">{{
              "reviews-create-questionnaire.radio"
                | translate
            }}</ion-select-option>
            <ion-select-option value="stars">{{
              "reviews-create-questionnaire.stars"
                | translate
            }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="questionData.type === 'radio'">
          <ion-label position="floating">{{
            "reviews-create-questionnaire.write-answer"
              | translate
          }}</ion-label>
          <ion-input [(ngModel)]="answerInEdit"></ion-input>
          <ion-button
            [disabled]="!answerInEdit"
            (click)="addAnswers()"
            (click)="clearInput()"
            fill="clear"
            slot="end"
            ><ion-icon slot="icon-only" name="add"></ion-icon
          ></ion-button>
        </ion-item>
        <ion-item *ngFor="let ans of questionData.answers; let i = index">
          <ion-label>{{ ans.text }}</ion-label>
          <ion-button (click)="removeAnswer(ans.id)"
            ><ion-icon name="trash" slot="icon-only" fill="clear"></ion-icon
          ></ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{
            "reviews-create-questionnaire.mandatory-question"
              | translate
          }}</ion-label>
          <ion-checkbox [(ngModel)] = "questionData.required"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="primary" (click)="saveEditedQuestion()">
        {{
          "reviews-create-questionnaire.confirm"
            | translate
        }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
