.close-btn{
    padding:1rem;
    font-size:30px;
    color:rgb(0, 81, 255);
}

//classes for the flags

.borderToFlag {
  border-bottom: 2px solid green;
  opacity: 1;
}

.removeOpacity {
  opacity: 0.5;
}




.flow{

  transition: ease-in 0.3s;
}

.bigger-button-alert{
  transform: scale(1.5);
  transition: ease-in 0.5s;
}

.alert-in-answers{
  font-size:small;
  color:red;
}
