.title{
  font-size: 0.75rem;
  font-weight: 700;
}

.bbtn {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.header-title{
  font-size: 0.8rem;
  font-weight: 900;
}

span.button-text {
  margin-left:2rem;
}