<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" class="ion-text-wrap">
      ΔΙΑΧΕΙΡΙΣΗ ΕΡΩΤΗΜΑΤΟΛΟΓΙΟΥ
    </ion-title>
    <ion-icon slot="end" name="add-circle" class="add-btn" (click) ="openAddModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Χρόνος ετοιμασίας/παράδοσης</ion-label>
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Γεύση</ion-label>
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Τιμές</ion-label>
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Ποιότητα</ion-label>
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Εξυπηρέτηση</ion-label>
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Εμπειρία online παραγγελίας</ion-label>
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap"
            >Ποιό είναι το αδυνατό μας σημείο;</ion-label
          >
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap"
            >Σχόλια-Υποδείξεις-Προτάσεις</ion-label
          >
          <ion-button slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>  
        <ion-item *ngFor = "let q of reviewsQuestionsArray">
          <ion-label class="ion-text-wrap">{{q.text}}</ion-label>
          <ion-button class="edit-btn" slot="end" (click)="openEditModal()">Edit</ion-button>
          <ion-button slot="end" (click)="deleteQuestion()">Delete</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
