<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" class="ion-text-wrap">
      {{'reviews-create-questionnaire.questionnaire-management' | translate }}
    </ion-title>
    <ion-icon
      slot="end"
      name="add-circle"
      class="ion-color-primary add-btn"
      (click)="openAddModal()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let q of reviewsQuestionsArray">
          <div>
            <ion-label class="ion-text-wrap">{{q.text}}</ion-label>
            <ion-label class="ion-text-wrap">{{q.type}}</ion-label>
          </div>

          <ion-badge slot="end" class="ion-text-wrap">{{q.required}}</ion-badge>

          <ion-button title="{{'reviews-create-questionnaire.edit' | translate }}" fill="clear" class="edit-btn" slot="end" (click)="openEditModal(q)"
            ><ion-icon class="edit-icon" slot="icon-only" name="create-outline" ></ion-icon></ion-button
          >
          <ion-button fill="clear" slot="end" (click)="deleteQuestion()"><ion-icon class="edit-icon" name="trash" slot="icon-only"></ion-icon></ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
