<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" slot="start" class="title">
      {{
        "reviews-create-questionnaire.create-question" | translate
      }}</ion-title
    >
    <ion-icon
      class="close-btn"
      slot="end"
      color="primary"
      name="close-circle"
      (click)="closeModal()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <div slot="start" style="padding-top: 12px">
              <img
                [ngClass]="[ currentLanguageText ===  'el' ? 'borderToFlag' : '' ,
                currentLanguageText ==='en' ? 'removeOpacity' : '' ]"
                style="cursor: pointer; padding: 3px"
                src="https://data.deliverymanager.gr/flag-el.png"
                width="30px"
                height="30px"
              (click) = "setCurrentLanguageSelection('el')"
              />
              <img
              [ngClass]="[ currentLanguageText ===  'en' ? 'borderToFlag' : '',
              currentLanguageText ==='el' ? 'removeOpacity' : '' ]"
                style="cursor: pointer; padding: 3px"
                src="https://data.deliverymanager.gr/flag-en.png"
                width="30px"
                height="30px"
                (click) = "setCurrentLanguageSelection('en')"
              />
            </div>

            <ion-label position="stacked">
              {{
                "reviews-create-questionnaire.write-question" | translate
              }}</ion-label
            >
   <!-- ngmodel now takes what is written in the question.text_translations via the currentLanguageText -->
            <ion-input

              [(ngModel)]="question.text_translations[currentLanguageText]"
              (ionChange)="validation()"
              type="text"
              name="text"
              #text="ngModel"
              required
            ></ion-input>
          </ion-item>
          <p
            style="font-size: smaller; color: red; margin-left: 15px"
            *ngIf="
              (text.errors?.required && text.touched) ||
              !this.validationDoor.questionText
            "
          >
            {{
              "reviews-create-questionnaire.please-enter-the-question"
                | translate
            }}
          </p>
          <ion-item>
            <ion-label>
              {{
                "reviews-create-questionnaire.mandatory-question" | translate
              }}
              <ion-checkbox
                color="primary"
                slot="end"
                [(ngModel)]="question.required"
              ></ion-checkbox>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{
              "reviews-create-questionnaire.select-type" | translate
            }}</ion-label>
            <ion-select [(ngModel)]="question.type">
              <ion-select-option value="text">{{
                "reviews-create-questionnaire.text" | translate
              }}</ion-select-option>
              <ion-select-option value="radio">{{
                "reviews-create-questionnaire.radio" | translate
              }}</ion-select-option>
              <ion-select-option value="stars">{{
                "reviews-create-questionnaire.stars" | translate
              }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="question.type === 'radio'">
            <ion-label position="floating">{{
              "reviews-create-questionnaire.write-answer" | translate
            }}</ion-label>
            <ion-input
              [(ngModel)]="answer"
              name="answerInput"
              #answerInput="ngModel"
            ></ion-input>

            <ion-button
              [disabled]="!answer"
              (click)="addAnswers()"
              (ionChange)="validation()"
              fill="clear"
              slot="end"
              ><ion-icon slot="icon-only" name="add"></ion-icon
            ></ion-button>
          </ion-item>
          <p
            style="font-size: smaller; color: red; margin-left: 15px"
            *ngIf="!this.validationDoor.answerText"
          >
            {{
              "reviews-create-questionnaire.radio-button-text-alert" | translate
            }}
          </p>

          <ion-item *ngFor="let ans of question.answers; let i = index">
            <ion-label>{{ ans.text }}</ion-label>
            <ion-button (click)="removeAnswer(ans.id)"
              ><ion-icon name="trash" slot="icon-only" fill="clear"></ion-icon
            ></ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="addQuestion()">
          {{ "reviews-create-questionnaire.save-question" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
