.close-btn {
  margin-right:10px;
  font-size: 30px;

}

.error-message {
  font-size: 0.7rem;
}

// classes for the flag

.borderToFlag {
  border-bottom: 2px solid green;
  opacity: 1;
}

.removeOpacity {
  opacity: 0.5;
}


.flow{

  transition: ease-in 0.3s;
}

.alert-in-answers{
  font-size:small;
  color:red;
}
